In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("a_vsu_glucose1_201708071431.csv")

In [3]:
data.measurement_name.unique()

array(['Глюкоза', 'Билирубин общий', 'Холестерин общий',
       'Аспартатаминотрансфераза (АсАТ)', 'Аланинаминотрансфераза (АлАТ)',
       'Кортизол', 'Тестостерон свободный',
       'Антиген вируса гепатита В (HBsAg)', 'Тромбиновое время',
       'РЭА /поджелудочная железа, кишечник/',
       'Волчаночный антикоагулянт', 'Антитела к хламидии трахоматис IgA'],
      dtype=object)

In [ ]:
data.head(10)

,patient_id,measurement_date,measurement_id,measurement_name,measurement_result
0,69,2013-04-11,27,Глюкоза,7.29
1,69,2013-04-11,28,Билирубин общий,33.40
2,69,2013-04-11,37,Холестерин общий,4.02
3,69,2013-04-11,42,Аспартатаминотрансфераза (АсАТ),30.50
4,69,2013-04-11,43,Аланинаминотрансфераза (АлАТ),47.60
5,69,2013-04-30,27,Глюкоза,7.16
6,69,2013-04-30,28,Билирубин общий,24.57
7,69,2013-04-30,37,Холестерин общий,4.08
8,69,2013-04-30,42,Аспартатаминотрансфераза (АсАТ),39.70
9,69,2013-04-30,43,Аланинаминотрансфераза (АлАТ),54.40

In [ ]:
i = 0
key = 0
d = {}
for index, row in data.iterrows():
    value = [row.patient_id, row.measurement_date]
    if value in d.values():
        pass
    else:
        d[key] = value
        key += 1

In [ ]:
def get_records_dict(data):
    key = 0
    d = {}
    for index, row in data.iterrows():
        value = [row.patient_id, row.measurement_date]
        if value not in d.values():
            d[key] = value
            key += 1
    return d

In [ ]:
#~3 mins
records_dict = get_records_dict(data)

In [ ]:
records_dict

In [ ]:
def prepare_df(records_dict):
    measurements_dict_df = pd.DataFrame(data[['measurement_id', 'measurement_name']].drop_duplicates().values, 
                                    columns=['measurement_id', 'measurement_name'])
    general_columns = ['record_id', 'patient_id', 'measurement_date']
    measurements_columns = ['measurement_' + str(x) for x in data.measurement_id.unique()]
    columns = np.append(general_columns, measurements_columns)
    df = pd.DataFrame(columns=columns)
    
    return df

In [ ]:
df = prepare_df(records_dict)
df

In [ ]:
value1 = [1, "a"]
value2 = [2, "b"]
value3 = [1, "a"]
value4 = [1, "a"]
z = {}
z[0] = value1
value3 in z.values()